.login-image{
    background-image: url('./signin.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.btn-secondary,.btn-secondary:hover{
  background-color: #ECB365 !important;
  border-color: #ECB365 !important;
  box-shadow:none !important;
}
.notice{
  background-color: #ECB365;
  color:#FFFFFF
}