*{
  margin: 0;
  padding: 0;
}


.login-image{
    background-image: url('./signin.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
body{
  overflow-x: hidden;
}
.btn-secondary,.btn-secondary:hover{
  background-color: #ECB365 !important;
  border-color: #ECB365 !important;
  box-shadow:none !important;
}
.foot{
  background-color: #064663;
}
.house{
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  border:none
}
.receipt-form {
  background-color: #ECB365;
}
.receipt_submit,.receipt_submit:hover{
  background-color: #FFFFFF;
  border-color: #FFFFFF !important;
  color:#ECB365;
}
::placeholder {
  color: #FFFFFF;
}
.tolet{
  height: 40vh;
}
.complaint{
  height: 30vh;
}
.notice{
  background-color: #ECB365;
  color:#FFFFFF;
  height:40vh;
}
#avatar{
  background-image: url('./default.jpg');
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.btn-primary,.btn-primary:hover{
  background-color: #ECB365 !important;
  border-color: #ECB365 !important;
  box-shadow:none !important;
}
.sect{
  text-underline-offset: 6px;
  text-decoration-color: #ECB365;
  text-decoration-thickness: 0.3rem ;


}