.login-image{
    background-image: url('./signin.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.btn-secondary,.btn-secondary:hover{
  background-color: #ECB365 !important;
  border-color: #ECB365 !important;
  box-shadow:none !important;
}
.receipt-form {
  background-color: #ECB365;
}
.receipt_submit,.receipt_submit:hover{
  background-color: #FFFFFF;
  border-color: #FFFFFF !important;
  color:#ECB365;
}
::placeholder {
  color: #FFFFFF;
}
.notice{
  background-color: #ECB365;
  color:#FFFFFF
}
#avatar{
  background-image: url('./default.jpg');
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

