.login-image{
    background-image: url('./signin.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
#avatar{
  background-image: url('./default.jpg');
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

