{% extends 'base.html' %}
{% block body %}
{% from 'bootstrap5/form.html' import render_form %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container-fluid row p-5">
        <div class="col-md-4">
          <img src="{{image_file}}" class="img-thumbnail img-fluid border border-white" alt="Profile picture">
        </div>
        <div class="col-md-8 mx-auto mt-auto mb-auto  lead">
          <p> <span class="h5">Username : </span><span>{{ current_user.username.title() }}</span></p>

          <p> <span class="h5">Email : </span><span>{{ current_user.email }}</span></p>
          <p><span class="h5">Type of user : </span><span>{{current_user.typeUser}}</span></p>
          <a data-bs-toggle="collapse" href="#coll" class="text-decoration-none text-muted"> <button
              class="btn btn-secondary">Update Info</button></a>

        </div>
      </div>
      <div class="container-fluid collapse" id="coll">
        {{render_form(form)}}
      </div>
    </div>
    {% if current_user.typeUser=="Tenant" %}
    <div class="col-md-6">
      <p class="display-6 text-center">
        My complaints
      </p>
      <div class="container-fluid d-flex flex-wrap flex-row justify-content-center">
        {% for post in post %}
        <div class=" complaints card  m-4">

          <div class="row  p-2">
            <div class="col-md-7 mx-auto mt-auto mb-auto">
              {% if current_user.id == post.complaintauthor.id %}
              <div class="d-inline mx-3">

              </div>
              {% endif %}

              <p class="d-inline">{{post.category}}</p>
            </div>
            <div class="col-md-2">
              <img src="{{url_for('static', filename='/profiles/'+post.complaintauthor.image_file)}}"
                class="img-thumbnail img-fluid border border-white" alt="Profile picture">
            </div>
            <div class="col-md-3 mx-auto mt-auto mb-auto text-muted">
              <small>{{post.complaintauthor.username}}</small>
              <br>
              <small>{{post.date_created.strftime('%Y-%m-%d')}}</small>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text lead">{{post.content}}</p>
            <div class="d-flex justify-content-around">
              <a data-bs-toggle="collapse" href="#complaints{{post.id}}" class="lead text-decoration-none">
                <img src="{{url_for('static',filename='/static/comment.svg')}}" height="30" alt="">
              </a>
            </div>
            <div class="collapse" id="complaints{{post.id}}">

              <div class=" complaints my-3">
                <p>Complaints</p>
                <div class="card m-1">
                  {% for com in post.complaints %}
                  <div class="d-flex justify-content-between">

                    <p class="lead fst-italic ">

                      {{com.complaints}}
                      <div>

                        {% if current_user.id == post.author.id %}

                        {% endif %}
                      </div>
                    </p>
                  </div>
                  {% endfor %}
                </div>
              </div>

             
            </div>
          </div>

        </div>

        {% endfor %}

      </div>
    </div>
    {% else %}
    <div class="col-md-6">
      <p class="display-6 text-center">
        My Notices
      </p>
    </div>
    {% endif %}



  </div>
</div>
{%endblock%}