{% extends "base.html" %}
{% block body %}
<div class="container-fluid my-5">
  <div class="container  receipt-form mt-2 p-3 w-50">
    <form action="" method="post" enctype="multipart/form-data" class="p-5">
      {{form.hidden_tag()}}
      <h3 class="text-center text-white">File Complaint</h3>

          <div class="form-group">
            {{form.title.label(class='form-control-label text-white')}}
            {% if form.title.errors %}
            {{form.title(class='form-control is-invalid')}}
            {% for error in form.title.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% else %}
            {{form.title(class='form-control bg-transparent text-white',placeholder="Enter The Title")}}
            {% endif %}
          </div>
          <div class="form-group mt-3">
            {{form.content.label(class='form-control-label text-white')}}
            {% if form.content.errors %}
            {{form.content(class='form-control is-invalid ')}}
            {% for error in form.content.errors %}
            <div class="invalid-feedback">
              {{error}}
            </div>
            {% endfor %}
            {% else %}
            {{form.content(class='form-control bg-transparent text-white',placeholder="Enter Description")}}
            {% endif %}
          </div>
          <div class="text-center mt-5">
            {{form.submit(class='btn btn-outline receipt_submit')}}
          </div>
        </div>
         

    
    </form>

  </div>
</div>
{% endblock %}