{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6 ">
      <p class="h3"> Apollo Apartments</p>
      <p> We provide the best housing facilities and are concenered <br>
        about your time here. This is your tool to make living here so <br> much easier</p>

      <a href="{{url_for('posts.create')}}"><button class="btn btn-secondary mt-4">Upload Receipt</button></a>
    </div>
    <div class="col-md-6">
      <img src="./../static/landingPage.png" alt="">
    </div>
  </div>

  <p class="h3 mb-3">N<u class="sect">otic</u>es</p>

  <div class="row">
    {% for notice in notice %}
    <div class="col-md-4">
      <div class="card notice my-3" style="width: 23rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">{{notice.noticeAuthor.username}}</div>
          </div>
          <h5 class="card-title">{{notice.title}}</h5>
          <p class="card-text">{{notice.content}}</p>

        </div>
      </div>

    </div>
    {% endfor %}

  </div>
  <p class="h3 mb-5 mt-3">Co<u class="sect">mplai</u>nts</p>


  <div class="row mb-5 mt-3">
    {% for complaint in complaint %}
    <div class="col-md-6">
      <div class="card complaint my-3" style="width: 23rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">{{complaint.letAuthor.username}}</div>
          </div>
          <h5 class="card-title">{{complaint.title}}</h5>
          <p class="card-text">{{complaint.content}}</p>

        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  <p class="h3 mb-5">Hou<u class="sect">ses To </u> Let</p>

  <div class="row my-3 mb-5">
    {% for tolet in tolet %}
    <div class="col-md-6">
      <div class="card house my-3 tolet" style="width: 25rem;">
        <div class="card-body">

          <h5 class="card-title">{{tolet.houseType}}</h5>
          <p class="card-text">{{tolet.description}}</p>
          <div class=" d-flex justify-content-between">
            <p></p>
            <p>Rent {{tolet.rent}} /month</p>

          </div>

        </div>
      </div>

    </div>
    {% endfor %}

  </div>




</div>
<div class="foot">

  <p class="text-white mx-5">Contact Information</p>

  <div class="d-flex mx-5">
    <div>
      <p class="text-white">phone Number</p>
      <p class="text-white">Email</p>

    </div>
    <div>
      <p class="mx-5 text-white">+254071234568</p>

      <p class="mx-5 text-white">managenyumba@gmail.com</p>
    </div>
  </div>
</div>

{% endblock %}