{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6 ">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Lorem ipsum dolor sit amet consectetur adipisicing.</p>

      <button class="btn btn-secondary mt-4">Upload Receipt</button>
    </div>
    <div class="col-md-6">
      <img src="./../static/landingPage.png" alt="">
    </div>
  </div>

  <p class="h3 mb-3">Notices</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card notice" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card notice" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card notice" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>

    </div>
  </div>
  <p class="h3 mt-5 align-items-center">Complaints</p>
  <div class=" d-flex flex-wrap flex-row justify-content-center">



    <div class=" pitches card  m-4">
      <div class="row  p-2">
        <div class="col-md-7 mx-auto mt-auto mb-auto">

          
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card pitches m-4">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </div>
      
    </div> -->
  </div>
</div>
{% endblock %}